<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="/styles.css">
    <script src="/menuScript.js" defer></script>
    <title><%= docTitle %></title>
</head>
<body>
<div id="root">
    <%- include("partials/header") %>
    <main>
        <div class="folder-contents">
            
        </div>
    </main>
</div>
</body>
</html>