@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
    --primary: hsl(147, 44%, 41%);
}

main.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-dark);
}

.auth-form-modal {
    background-color: var(--bg);
    padding: 1rem;
    margin: .5rem;
    box-shadow: 0px 0px 5px gray;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    color: var(--text-muted);
    font-size: 1.2rem;
}

input {
    font-size: 1.2rem;
    height: 3ch;
    width: 100%;
    padding: 0 .2rem;
    outline: none;
    border-style: solid;
}

input:hover, input:focus {
    border-color: var(--primary);
}

.auth-form > :last-child {
    display: flex;
    justify-content: center;
}

form button {
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: var(--primary);
    border: none;
    box-shadow: 0px 0px 5px gray;
    color: var(--bg-light);
    padding: .5rem 1rem;
    will-change: transform;
    transition: transform .2s ease-in-out;
}

form button:hover, form button:focus {
    transform: scale(1.1);
}

.auth-title {
    margin: clamp(1rem, .5rem + 3vw, 3rem) 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}

.auth-form-modal > :last-child {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.auth-form-modal img {
    width: 70px;
}

.auth-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: .5rem;
}

.form-errors {
    list-style: none;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    color: var(--text);
}

.form-error {
    max-width: 25ch;
    word-break: break-word;
}

#root {
    background-color: var(--bg-dark);
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0px 0px 10px 0px gray;
}

header .banner {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

header .logo {
    width: 50px;
    z-index: 1;
}

header .banner-title {
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bold;
}

header nav {
    position: relative;
}

header nav button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    color: var(--bg-light);
    border: none;
    font-size: 1.1rem;
}

header nav button img {
    filter: 
    brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(0%) 
    saturate(0%) 
    hue-rotate(84deg) 
    brightness(104%) 
    contrast(104%);
    width: 30px;
}

.rotate {
    transform: rotate(180deg);
}

header .home-link {
    color: var(--primary);
    text-decoration: none;
}

header .banner-backing {
    position: absolute;
    width: 120%;
    height: 100%;
    left: -7%;
    background-color: var(--bg-light);
    transform: skewX(-20deg);
}

.user-menu {
    position: absolute;
    background-color: var(--bg-light);
    padding: 1rem 2rem 1rem 1rem;
    box-shadow: 0px 0px 5px 0px gray;
    left: -18px;
}

.username-span {
    max-width: 8ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.upload-label, .create-folder-btn {
    outline: none;
    position: relative;
    cursor: pointer;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    --upload-color: hsl(0 0% 70%);
    background-color: var(--bg);
    border: 3px solid var(--upload-color);
    box-shadow: 0px 0px 5px 0px gray;
    --filter-color:
    brightness(0) 
    saturate(100%) 
    invert(64%) 
    sepia(75%) 
    saturate(0%) 
    hue-rotate(231deg) 
    brightness(102%) 
    contrast(80%);
    transition: transform .1s ease-in-out;
}

.upload-label:hover, 
.upload-label:focus,
.create-folder-btn:hover,
.create-folder-btn:focus {
    --upload-color: var(--primary);
    --filter-color:
    brightness(0) 
    saturate(100%) 
    invert(47%) 
    sepia(10%) 
    saturate(2172%) 
    hue-rotate(94deg) 
    brightness(104%) 
    contrast(84%);
    background-color: var(--bg-light);
    transform: scale(1.1);
}

.upload-label img, .create-folder-btn img {
    width: 50px;
    filter: var(--filter-color)
}

.upload-message, .create-folder-message {
    position: absolute;
    top: 20%;
    max-width: 14ch;
    text-align: center;
    color: var(--upload-color);
}

.upload-max-message {
    position: absolute;
    color: var(--upload-color);
    bottom: 28%;
    max-width: 14ch;
    text-align: center;
}

.create-folder-message {
    font-size: 1.1rem;
    font-family: "roboto", sans-serif;
    top: 25%;
}

.content-card {
    padding: .5rem .5rem 2.2rem .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-light);
    box-shadow: 0px 0px 5px 0px gray;
    --upload-color: hsl(0 0% 70%);
    --filter-color:
    brightness(0) 
    saturate(100%) 
    invert(47%) 
    sepia(10%) 
    saturate(2172%) 
    hue-rotate(94deg) 
    brightness(104%) 
    contrast(84%);
    border: 3px solid var(--upload-color);
    color: var(--text-muted);
    transition: transform .1s ease-in-out;
}

.content-card:hover, .content-card:focus {
    border-color: var(--primary);
    transform: scale(1.1);
}

.content-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.content-card-name {
    max-width: 23ch;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.file-img, .folder-img {
    width: 120px;
    filter: var(--filter-color);
}

.delete-btn {
    cursor: pointer;
    align-self: end;
    display: flex;
    outline: none;
    border: none;
    background: none;
    transform: scale(1.4);
}

.delete-btn:hover, .delete-btn:focus {
    transform: scale(1.6);
}

.delete-img {
    width: 30px;
    filter: var(--filter-color);
}

.banner-wrapper {
    border-bottom: 2px solid var(--primary);
    margin: 3rem 0;
    padding: 0 1rem;
    overflow: hidden;
}

.folder-banner, .file-banner {
    cursor: pointer;
    color: var(--primary);
    font-size: 1.6rem;
    border: none;
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    width: 100%;
    will-change: transform;
    transition: transform .1s ease-in-out;
    transform-origin: left;
}

.folder-banner:hover, .file-banner:focus,
.file-banner:hover, .file-banner:focus {
    transform: scale(1.1);
}

.folder-banner img, .file-banner img {
    width: 40px;
    position: relative;
    top: 2px;
    filter: 
    brightness(0) 
    saturate(100%) 
    invert(47%) 
    sepia(10%) 
    saturate(2172%) 
    hue-rotate(94deg) 
    brightness(104%) 
    contrast(84%);
}

.folder-contents {
    margin: 1rem 1rem 4rem 1rem;
}

.folders, .files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-auto-rows: 300px;
    gap: 2rem;
    max-width: min(1200px, 100%);
    margin: 0 auto;
}

.folder-name {
    max-width: 15ch;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary);
}

.delete-form-modal {
    position: fixed;
    width: fit-content;
    margin: 0 auto;
    top: 30%;
    left: 0;
    right: 0;
    background-color: var(--bg-light);
    box-shadow: 0px 0px 5px 0px gray;
    padding: 1rem;
    border: 3px solid var(--primary);
}

.delete-form-title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    margin: 1rem 0 2rem 0;
}

.delete-form-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 0 0 0;
}

.cancel-delete-btn {
    outline: none;
    cursor: pointer;
    background-color: var(--bg-light);
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: .4rem .9rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px 0px gray;
    will-change: transform;
    transition: transform .1s ease-in-out;
}

.cancel-delete-btn:hover {
    transform: scale(1.1);
}

.create-folder-modal {
    position: fixed;
    max-width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
    background-color: var(--bg-light);
    box-shadow: 0px 0px 5px 0px gray;
    padding: 1rem;
    border: 3px solid var(--primary);
}

.create-folder-modal input {
    margin: .5rem 0 1rem 0;
}

.create-folder-modal > form  > :last-child {
    display: flex;
    justify-content: space-between;
}

.create-folder-modal > form > :last-child > :first-child {
    background-color: var(--bg-light);
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: .4rem .9rem;
}

.file-details-modal {
    position: fixed;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25%;
    background-color: var(--bg-light);
    box-shadow: 0px 0px 5px 0px gray;
    padding: 1rem;
    border: 3px solid var(--primary);
}

.file-details-modal > :first-child {
    display: flex;
    justify-content: end;
}

.file-details-exit-btn {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--bg-light);
    border: none;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px gray;
    will-change: transform;
    transition: transform .2s ease-in-out;
}

.file-details-exit-btn:hover, 
.file-details-exit-btn:focus {
    transform: scale(1.1);
}

.file-details-modal input {
    margin: 1rem 0 .5rem 0;
}

.file-details-modal input:disabled:hover,
.file-details-modal input:disabled:focus,
.file-details-modal input:disabled {
    border-color: var(--bg-dark);
}

.file-details-modal form > :last-child {
    display: flex;
    justify-content: center;
}

.file-details-modal p {
    margin: 1.5rem 0;
    color: var(--text-muted);
}

.file-details-modal a {
    text-decoration: none;
    color: var(--bg-light);
    background-color: var(--primary);
    font-size: 1.1rem;
    padding: .5rem 1rem;
    box-shadow: 0px 0px 5px 0px gray;
    border: 2px solid var(--primary);
    display: flex;
    justify-content: center;
}

.file-details-modal a:hover,
.file-details-modal a:focus {
    background-color: var(--bg-light);
    color: var(--primary);
}

.path-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 1rem 0 1rem;
    background-color: var(--bg-light);
    width: fit-content;
    padding-right: 1rem;
    box-shadow: 0px 0px 5px 0px gray;
}

.path-links p {
    color: var(--primary);
    font-size: 1.8rem;
}

.path-links a {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 1.1rem;
    padding: 0 1rem;
    max-width: 26ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.path-links a:hover, .path-links p:focus {
    text-decoration: underline;
}

footer {
    background-color: var(--primary);
    padding: 1rem 0;
    color: var(--bg-light);
    display: flex;
    justify-content: center;
}



@media screen and (width <= 500px) {
    .banner-title {
        display: none;
    }

    header .banner-backing {
        left: -5%;
    }

    .folders, .files {
        justify-content: center;
    }
}